{% extends "AcmeTableBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content %}
    <table id="tablesorter-demo" class="tablesorter"> 
        <thead> 
            <tr> 
                <th>Last Name</th> 
                <th>First Name</th> 
            </tr> 
        </thead> 
        <tbody> 
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.age }}</td>
                </tr>
            {% endfor %}            
        </tbody> 
    </table> 
{% endblock %}

